#dog-pic {
  width: 40%;
}

.dog-info {
  list-style: none;
  text-align: center;
  font-size: 16px;
}

.dog-info > li {
  font-size: 18px;
  text-align: center;
}

.adopt-button {
  transition-property: background, border-radius, color, font-weight;
  transition-duration: 0.25s;
  transition-timing-function: linear;
  width: 75px;
  height: 35px;
  border-radius: 6px;
  font-size: 14px;
}

.adopt-button:hover {
  font-weight: 500;
  cursor: pointer;
  border-radius: 2px;
  border: solid 1px #90C2E7;
  background: rgb(48, 179, 76);
  box-shadow: none;
  color: white;
}